/* ----------------------------------------------
------Reset
---------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------
------General
---------------------------------------------- */

@font-face {
  font-family: Asimov;
  src: url('../fonts/vegur-regular.otf');
}

@font-face {
  font-family: Asimov;
  src: url('../fonts/vegur-bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: RozhaOne;
  src: url('../fonts/RozhaOne-Regular.ttf');
}

body {
  font-family: Asimov, sans-serif;
  font-weight: bold;
}

.width-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 990px;
  background: inherit;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.visuallyhidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.submit-btn {
  width: calc(100% - 30px);
  height: 50px;
  border-radius: 25px;
  margin: 50px 15px;
  border: none;
  background: #348DB2;
  font-weight: bold;
  color: #fff;
  box-shadow: 0px 23px 74px -13px rgba(39, 39, 39, 0.507);
}

.actual--date {
  background: red;
}

.passed--date {
  background: gray;
}

/* ----------------------------------------------
------Header
---------------------------------------------- */

.main-header {
  margin-top: 64px;
}
.main-header__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  position: relative;
}
.main-header__title:after {
  content:'';
  display: block;
  position: absolute;
  top: 50%;
  left: 108px;
  transform: translate(0, 50%);
  height: 4px;
  width: 93px;
  background-color: #398FB4;
}
.main-header__social {
  font-size: 0;
  margin: 22px 0 30px 0;
}
.main-header__link {
  display: inline-block;
  height: 20px;
  width: 18px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 18px;
  transform: scale(0.8);
}
.link-facebook {
  background-image: url('../assets/fb_grey.svg');
}
.link-twitter {
  background-image: url('../assets/twitter_grey.svg');
}
.link-insta {
  background-image: url('../assets/insta_grey.svg');
}

/* ----------------------------------------------
------Main Content
---------------------------------------------- */

.main-content {
  text-align: justify;
}
.main-content__strong {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.84;
}
.main-content__par {
  font-size: 14px;
  margin-top: 30px;
  line-height: 1.8;
}
.main-content__art {
  padding: 10px 25px 0 25px;
}
.art__title {
  margin-bottom: 30px;
  position: relative;
}
.art__title:after {
  content:'';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 11px);
  height: 2px;
  width: 48px;
  background-color: blue;
}
.art__par {
  font-family: RozhaOne, sans-serif;
  font-weight: normal;
  line-height: 1.1;
}
.main-content__image {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
.main-content__breaker {
  margin: 13px 0 7px 0;
  border: none;
  border-bottom: 2px solid gray;
}
.main-content__note {
  font-family: RozhaOne, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  margin: 0 36px;
  position: relative;
}
.main-content__note:after {
  content:'';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 12px;
  width: 12px;
  background-image: url('../assets/Triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-35px, 2px) rotate(90deg);
}
.main-content__list-el {
  margin-bottom: 10px;
}

/* ----------------------------------------------
Booking
---------------------------------------------- */

.booking {
  background-image: url('../assets/booking_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.booking__title {
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  position: relative;
  margin: 50px 0 70px 0;
}
.booking__title-line:after {
  content:'';
  display: block;
  position: absolute;
  top: -12px;
  left: 15px;
  height: 4px;
  width: 93px;
  background-color: #fff;

}
.booking__title-line {
  display: inline-block;
  width: 93px;
  position: relative;
}

/* --- Calendar --- */

.booking__calendar {
  color: #fff;
  width: 100%;
  max-width: 460px;
  border: solid 1px green;
  background: inherit;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 25px;
}
.booking__calendar:after {
  position: absolute;
  display: block;
  content: '';
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  background: inherit;
  filter: blur(8px);
  z-index: -1;
}
.booking__calendar-date {
  font-size: 22px;
  border:solid 1px green;
  text-align:center;
  margin: 30px 0;
}
.booking__calendar-month {
  margin: 0 20px;
}
.booking__calendar-arrow-left,
.booking__calendar-arrow-right {
  color: #fff;
  padding: 2px 10px;
  background: none;
  border: none;
  display: inline-block;
  font-size: 22px;
}
.booking__table {
  width:100%;
  height:100%;
}
[class^='col'] {
  position: relative;
  border: 1px solid red;
}
[class^='col']:after {
  content: '';
  display: block;
  margin-top: 100%;
}
.table-content,
.table-content-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Form --- */

.booking__form {
  width: 100%;
  max-width: 460px;
  background: #fff;
  padding-top: 25px;
  margin-top: 20px;
  border-radius: 25px;
}
@media (min-width: 975px) {
  .booking__form {
    padding-top: 65px;
  }
}
.booking__input {
  margin: 15px 15px 0 15px;
  width: calc(100% - 30px);
  border: none;
  background: #EAF3F7;
  height: 50px;
  border-radius: 25px;
  padding: 0 25px;
  font-weight: bold;
  position: relative;
}
.booking__select {
  height: 100%;
  width: 100%;
  opacity: 0;
}
.booking__input-val {
  position: absolute;
  z-index: 999;
  left: 25px;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
}
.input--arrow {
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
  width: 20px;
  background-image: url('../assets/arrows.svg');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}


